<launch>

  <!-- Calibration -->
  <param name="base_controller/track_width" value="0.37476" />

  <!-- Odometry -->
  <param name="base_controller/publish_tf" value="false" />
  <include file="$(find freight_bringup)/launch/graft.launch" />

  <!-- URDF -->
  <param name="robot_description" textfile="$(find fetch_description)/robots/freight.urdf" />

  <!-- Drivers for Base -->
  <node name="robot_driver" pkg="fetch_drivers" type="robot_driver" output="screen">
    <param name="firmware_tar_gz" value="$(find fetch_drivers)/firmware.tar.gz" />
    <param name="has_base" value="true" />
    <param name="has_torso" value="false" />
    <param name="has_head" value="false" />
    <param name="has_arm" value="false" />
  </node>

  <!-- Controllers -->
  <rosparam file="$(find freight_bringup)/config/default_controllers.yaml" command="load" />

  <!-- Joint State -> TF -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <!-- Laser -->
  <node name="sick_tim551_2050001" pkg="sick_tim" type="sick_tim551_2050001" respawn="true" >
    <param name="min_ang" type="double" value="-1.91986" />
    <param name="max_ang" type="double" value="1.91986" />
    <param name="hostname" type="string" value="10.42.42.10" />
    <param name="frame_id" type="string" value="laser_link" />
    <param name="range_max" type="double" value="25.0" />
    <param name="time_increment" type="double" value="0.000061728" />
    <remap from="scan" to="base_scan" />
  </node>

  <!-- Teleop -->
  <include file="$(find freight_bringup)/launch/teleop.launch" />

</launch>
