<launch>

  <node name="joy" pkg="joy" type="joy_node"/>

  <node name="teleop" pkg="fetch_teleop" type="joystick_teleop" output="screen">
    <param name="is_fetch" value="false"/>
    <param name="base/max_vel_x" value="1.5"/>
  </node>

  <node name="cmd_vel_mux" pkg="topic_tools" type="mux" respawn="true" args="base_controller/command /cmd_vel /teleop/cmd_vel">
    <remap from="mux" to="cmd_vel_mux" />
  </node>

</launch>
